<nav class="navbar z-50">
  <a href="#">
    <div class="container flex items-center space-x-4 ms-4">
      <div
        class="logo rounded-full overflow-hidden h-12 w-12 bg-faith-accent flex items-center justify-center"
      >
        <img src="/logo.png" alt="Logo" />
      </div>
      <h1 class="hidden lg:block font-bold text-2xl text-faith-text-light text-nowrap">
        {{ title() }}
      </h1>
    </div>
  </a>
  <div class="container flex items-center space-x-4">
    <ul class="container nav-links space-x-4">
      <li><a href="#">About</a></li>
      <li><a href="#">Branches</a></li>
      <li><a href="#">Media</a></li>
      <li><a href="#">Events</a></li>
    </ul>
  </div>
  <div class="container me-5">
    <button class="btn text-nowrap">Contact Us</button>
  </div>
</nav>
