

.navbar {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  background-image: url('/assets/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 15px;
}
.container {
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  width: fit-content;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  color: var(--color-faith-text-light);
}

.nav-links a:hover {
  color: var(--color-faith-primary);
}

.btn {
  background-color: var(--color-faith-primary-dark);
  color: var(--color-faith-accent);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
.btn:hover {
  background-color: var(--color-faith-primary);
}