

.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  min-width: 100vw;
  height: 70px;
}

.faith-menu{
  color: var(--color-faith-text-light) !important;
  background-color: transparent !important;
}
.faith-menu:hover,
.faith-menu:focus {
  color: var(--color-faith-primary) !important;
  background-color: white !important;
  opacity: 1 !important;
  transform: none !important;
}

.menu-item-container{
  background-color: white !important;
  padding: 50% !important;
}
.menu-item{
  color: var(--color-faith-text-light) !important;
  padding: 10px 20px !important;
}

.container {
  padding: 0 10px;
  width: fit-content;
}

.logo img {
  height: inherit;
  width: inherit;
  object-fit: cover;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  color: var(--color-faith-text-light);
}

.nav-links a:hover,
a h1:hover {
  color: var(--color-faith-primary);
}

.nav-links a:focus,
a h1:focus {
  color: var(--color-faith-primary);
  border-bottom: 2px solid var(--color-faith-primary);
}

.btn {
  background-color: var(--color-faith-primary-dark);
  color: var(--color-faith-accent);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
.btn:hover {
  opacity: 0.7;
}
