.home {
  background-color: var(--color-faith-primary);
  background-image: url('/home-bg.jpg');
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
}

.seth-img{
    border-radius: 25% 0 0 0;
}

.david-img{
    border-radius: 0 0 25% 0;
}