.home {
  background-color: var(--color-faith-primary);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}

.seth-img{
    border-radius: 15% 0 0 0;
}

.david-img{
    border-radius: 0 0 15% 0;
}